.dispels {
    display: grid;
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
    height: 100vh;
    width: 100vw;
}
.player-0 {
    grid-area: top-left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-1{
    grid-area: top-right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-2{
    grid-area: bottom-left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-3 {
    grid-area: bottom-right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personGame {
    background-color: rgb(142, 134, 125);
    border: 2px solid;
    padding: 20px;
    width: 200px;
}






