.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 450px;
    background: linear-gradient(135deg, #f57b42d5, #c09d5cbc);
    border-radius: 20px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin: 20px auto;
    color: white;
    font-family: 'Arial', sans-serif;
  }

  .button {
    padding: 12px 24px;
    background-color: #1e88e5;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    background-color: #1565c0;
    transform: scale(1.05);
  }
  
  .player-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .player-input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 200px;
    font-size: 16px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
  }
  
  .player-input :focus {
    border-color: #42a5f5;
  }
  